* {
  box-sizing: border-box;
}

input {
  all: unset;
  appearance: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: black;
  height: 100%;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

ul {
  list-style: none;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

.header {
  border-bottom: 1px solid #ddd;
}

.app-loaderbox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation */
/* ======================================================================== */
/* ======================================================================== */

.navlist {
  width: 234px;
  height: 400px;
  margin-right: 12px;
}

.navcomp-container {
  width: 234px;
  height: 50px;
  padding-left: 10px;
  display: flex;
  float: right;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  cursor: pointer;
}

.navcomp-wrapper {
  padding: 12px;
  border-radius: 9999px;
  position: relative;
}

.navcomp-namewrapper {
  font-weight: bold;
  font-size: 18px;
}

.navcomp-icons {
  width: 100%;
  margin-right: 15px;
}

.nav-kweetbtn {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  width: 210px;
  height: 48px;
  color: white;
  background-color: #04aaff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-kweetbtn:hover {
  background-color: #0e8ac9;
  transition-duration: 0.2s;
}

/* Profile */
/* ======================================================================== */
/* ======================================================================== */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

/* KweetFactory */
/* ======================================================================== */
/* ======================================================================== */

.factory-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.factory-container {
  display: inline;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 4px 16px 8px;
  border-bottom: 1px solid #ddd;
}

.factory-profile {
  display: inline;
  width: 48px;
  height: 100%;
  padding-top: 4px;
  margin-right: 12px;
  cursor: pointer;
}

.factory-profimg {
  width: 48px;
  height: 48px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.factory-profimg:hover {
  filter: brightness(70%);
  transition-duration: 0.2s;
}

.factory-kweet {
  width: 500px;
  padding-top: 4px;
  display: inline;
}

.factory-inputbox {
  width: 100%;
  height: 52px;
  padding: 12px 0px;
  padding-left: 10px;
  pointer-events: auto;
}

.factory-input {
  width: 100%;
  flex-grow: 1;
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.factory-kweetset {
  width: 100%;
  height: 44px;
  padding: 0px 4px 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.factory-kweetsetbtn {
  font-size: 13px;
  font-weight: 700;
  color: #04aaff;
  cursor: pointer;
  border-radius: 9999px;
  padding: 6px;
}

.factory-kweetsetbtn:hover {
  background-color: #04abff49;
  transition-duration: 0.2s;
}

.factory-kweetbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 38px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  background-color: #04aaff;
  border-radius: 9999px;
  color: white;
}

.factory-kweetbtn:hover {
  background-color: #0e8ac9;
  transition-duration: 0.2s;
}

.factory-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
  margin-top: 12px;
}

.factory-iconset {
  display: flex;
  justify-content: center;
}

.factory-iconwrap {
  border-radius: 9999px;
  padding: 8px;
}

.factory-iconset input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.factory-imglabel {
  cursor: pointer;
  color: #04aaff;
}

.factory-imglabel span {
  margin-right: 10px;
  font-size: 12px;
}

.factory-attachbox {
  width: 100%;
}

.factory-attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factory-attachment img {
  overflow: hidden;
  object-fit: cover;
}

.factory-attachclear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factory-attachclear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Kweet */
/* ======================================================================== */
/* ======================================================================== */

.kweet-edit .kweet-updatebtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.kweet-container {
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #ddd;
}

.kweet-container:hover {
  cursor: pointer;
  filter: brightness(95%);
  transition-duration: 0.2s;
}

.kweet-profile {
  margin-right: 15px;
  padding-bottom: 15px;
}

.kweet-profile img {
  cursor: pointer;
}

.kweet-username {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.kweet-username:hover {
  text-decoration: underline;
}

.kweet-userid {
  font-size: 12px;
  color: #bbb;
  margin-left: 5px;
}

.kweet-profile img:hover {
  filter: brightness(70%);
  transition-duration: 0.2s;
}

.kweet p {
  font-size: 14px;
}

.kweet-body img {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  border-radius: 20px;
}

.kweet-body img:hover {
  filter: brightness(70%);
  transition-duration: 0.2s;
}

.kweet-actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.kweet-actions span {
  cursor: pointer;
}

.kweet-actions span:first-child {
  margin-right: 10px;
}

.kweet-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.kweet-footer {
  width: 100%;
  margin-top: 10px;
  margin-left: 63px;
  justify-content: space-between;
  align-items: center;
}

.kweet-footiconwrap {
  margin-right: 150px;
}

.kweet-footiconwrap span {
  color: #777;
  cursor: pointer;
  border-radius: 9999px;
  padding: 5px;
}

.kweet-footiconwrap span:hover {
  transition-duration: 0.2s;
  background-color: #04abff49;
}

/* Auth */
/* ======================================================================== */
/* ======================================================================== */

.auth-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.auth-btn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background-color: #ddd;
}

.auth-btn:hover {
  background-color: #bbb;
}

/* AuthForm */
/* ======================================================================== */
/* ======================================================================== */

.authform-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.authform-input {
  display: block;
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
  background-color: #ddd;
  font-size: 12px;
  color: black;
}

.authform-submit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10;
  cursor: pointer;
}

.authform-submit:hover {
  background-color: #0e8ac9;
  transition-duration: 0.2s;
}

.authform-error {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authform-switch {
  color: #04aaff;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  font-size: 14px;
}

.authform-switch:hover {
  color: #0e8ac9;
  text-decoration: underline;
}
