/* MyProfile */
/* ======================================================================== */
/* ======================================================================== */

.myprof-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.myprof-header {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.myprof-header span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.myprof-body {
  width: 100%;
  height: 463px;
  border-bottom: 1px solid #ddd;
}

.myprof-bodytop {
  position: relative;
}

.myprof-backimg {
  width: 100%;
  height: 200px;
}

.myprof-backimg img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.myprof-backimg:hover {
  filter: brightness(70%);
  transition-duration: 0.2s;
}

.myprof-backloadbox {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.myprof-profimg {
  width: 140px;
  height: 140px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 130px;
  left: 15px;
}

.myprof-profimg:hover {
  filter: brightness(70%);
  transition-duration: 0.2s;
}

.myprof-kweets {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-left: 1px solid #ddd;
}

.myprof-prof {
  width: 100%;
  height: 250px;
  padding: 12px 16px;
}

.myprof-editprof {
  width: 100%;
  height: 52px;
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-end;
}

.myprof-editprofbtn {
  width: 111px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: #04aaff;
  border-radius: 9999px;
  border: 1px solid #04aaff;
}

.myprof-editprof span:hover {
  transition-duration: 0.2s;
  background-color: #04abff49;
}

.myprof-username {
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.myprof-userid {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.footer-container {
  width: 350px;
  height: 100vh;
  margin-left: 30px;
}

.footer-searchbox {
  display: flex;
  align-items: center;
  margin: 12px 0px;
  width: 100%;
  background-color: #eee;
  border-radius: 9999px;
  padding: 12px;
}

.footer-search {
  width: 100%;
  margin-left: 14px;
}

.footer-contentbox {
  display: flex;
  width: 100%;
  height: 80%;
  background-color: #eee;
  border-radius: 20px;
}

.footer-contenttitle {
  width: 100%;
  padding: 12px 16px;
}

.footer-contenttitle span {
  font-size: 18px;
  font-weight: bold;
}
